/* Coolors Exported Palette - coolors.co/32331c-256d1b-e3d26f-9bc995-e54b0c */

$color1: #32331c; //rgba(50, 51, 28, 100)
$color2: #256d1b; //rgba(37, 109, 27, 100)
$color3: #e3d26f; //rgba(227, 210, 111, 100)
$color4: #9bc995; //rgba(155, 201, 149, 100)
$color5: #e54b0c; //rgba(229, 75, 12, 100)