---
---

@import "palette";

body {
  font-family: 'Nunito', sans-serif;
  background-color: $blend;
}

#post-header {
  .date{
    padding-left: 20px;
  }
}
#post-content{
  margin-top: 15px;
  p {
    font-size: 16px;
    text-align: justify;
  }
}

.bg-dark {
  color: $lightfont;
  background-color: $color1;
}

.navbar {
  color: $lightfont;
  background-color: $color4;

  .active {
    background-color: $color5;
  }

  a {
    color: $darkfont;
  }
}
