---
---

@import "palette";

body {
  font-family: 'Nunito', sans-serif;
  background-color: $light4;
}

#post-header {
  .date{
    padding-left: 20px;
  }
}
#post-content{
  margin-top: 15px;
  p {
    font-size: 1.4em;
    text-align: justify;
  }
}

.bg-dark {
  color: $lightfont;
  background-color: $color1;
}

header {
  height: 87px;
  width: 100%;

  color: $lightfont;
  background-color: $color4;

  .navbar {
    display: flex;
    margin-top: 2em;
    .active {
      background-color: $blend45;
    }

    a {
      font-size: 1.3em;
      color: $darkfont;
    }
  }
}
