---
---

@import "palette";

body {
  font-family: 'Nunito', sans-serif;
  background-color: $color3;
}

.bg-dark {
  color: $lightfont;
  background-color: $color1;
}

.navbar {
  color: $lightfont;
  background-color: $color4;

  .active {
    background-color: $color5;
  }

  a {
    color: $lightfont;
  }
}
